* {
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

/* Creating variables */
:root {
    --font1: 'Vidaloka', serif;
    --font2: 'Amaranth', sans-serif;
    --font3: 'Lobster', cursive;
    --gradient: linear-gradient(to bottom, rgba(3, 7, 41, 0.959), rgba(20, 42, 139, 0.945));
}

::selection {
    color: black;
    background: grey;
}

header,
section {
    overflow-y: hidden;
}

header {
    background: var(--gradient);
}

header .nav-item:last-child {
    padding-right: 10.5em;
}

header .nav-item {
    padding: 0.7em 0em 0.2em 1.4em;
}

header .navbar-brand {
    font-size: large;
    padding-left: 5rem;
    color: white;
}

header .link:hover,
header .link:focus {
    background: rgba(255, 255, 255, 0.849);
    color: rgb(16, 14, 143);
    box-shadow: 5px 10px 17px rgba(0, 0, 0, 0.4);
}

header .nav-link {
    font-family: var(--font2);
    font-size: 1em;
    color: white;
}

header .navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

header .row .col-md-5 {
    padding: 4.2vmin 1vmin 0vmin 4.2vmin;
}

header .row .col-md-7 {
    font-family: var(--font3);
    /* To apply google font from link */
    padding: 12vmin 1vmin 0vmin 18vmin;
    color: white;
}

.font2 {
    font-family: var(--font2);
}

header .row .col-md-5 img {
    width: 20rem;
    height: 350px;
}

header .container .col-md-7 h6 {
    padding: 0.2rem;
    letter-spacing: 0.3rem;
    text-decoration: italics;
    font-size: 1.1rem;
}

header .container .col-md-7 h1 {
    font-size: 8vmin;
    padding: 0.1em 0em;
}

header .container .col-md-7 p {
    padding: 1vmin 5vmin;
}

header .container .col-md-7 button:active {
    background-color: black;
    box-shadow: 0 5px #666;
    transform: translateY(3px);
}

/* Section 1 */

.mission {
    padding: 12vmin 0;
}

.mission .row .col-md-6 .pray img {
    opacity: 0.8;
    padding-left: 5em;
    width: 75%;
    height: 350px;
}

.mission .row .col-md-6:last-child {
    position: relative;
}

.mission .row .col-md-6 .panel {
    position: absolute;
    top: 5vmin;
    left: -35vmin;
    width: 35em;
    background: white;
    border-radius: 3px;
    text-align: left;
    padding: 5vmin 5vmin 5vmin 10vmin;
    box-shadow: 0px 25px 42px rgba(0, 0, 0, 0.2);
    font-family: var(--font1);
    z-index: 1;
}

.mission .row .col-md-6 .panel h1 {
    font-weight: bold;
    font-size: 2em;
    color: rgb(7, 7, 134);
}

/* Section 2 */

.cover {
    width: 100%;
    height: 55vmin;
    background: url(https://cdn.givind.org/static/images/categorypage/v3/desktop/education.jpg);
    background-position: -30rem -18.5rem;
    position: relative;
}

.cover .content {
    background: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 100%;
    padding-top: 16vmin;
    text-align: center;
}

.cover .content>h1 {
    font-family: var(--font1);
    font-size: 7vmin;
    color: white;
}

.cover .content>p {
    font-family: var(--font2);
    color: white;
    font-size: 4vmin;
}

.numbers .rect {
    position: relative;
    z-index: 1;
    background: white;
    width: 14rem;
    height: 10rem;
    padding-top: 4.5vmin;
    margin: 1rem;
    border-radius: 0.5em;
    box-shadow: 0px 2px 20px 0px rgba(255, 0, 0, 0.349);
}

.numbers {
    margin-top: -15vmin;
}

.numbers .rect h1 {
    font-size: 3.5rem;
    color: tomato;
}

.numbers .rect p {
    font-family: var(--font2);
}

/* Section 3 */

.donors {
    width: 100%;
    overflow-x: hidden;
    margin-bottom: 4rem;
}

.donors .container h1 {
    font-size: 6vmin;
    padding-top: 14vmin;
}

.donors .team {
    padding: 10vmin 4 vmin;
}

.donors .card {
    width: 18rem;
    margin-top: 8vmin;
}

.donors .card .card-text {
    padding: 0.5em;
}

.donors .card .card-body>a {
    font-size: 1.5rem;
}

.donors .carousel-item {
    font-size: 1rem;
    margin-left: 1.8rem;
}

.border-radius {
    border-radius: 340px;
    width: 70%;
}

/* Footer */

footer {
    background: rgba(0, 0, 0, 0.815);
    padding: 10vmin 12vmin;
}

footer input {
    border: none !important;
}

footer input::placeholder {
    color: white !important;
}

footer .form-inline {
    width: 65vmin;
}

footer .col-md-5 {
    padding-left: 3vmin;
}

footer .col-md-3 {
    padding-left: 3vmin;
}

footer .input-group .input-group-text {
    border: none;
    background: linear-gradient(to bottom, rgba(31, 68, 146, 0.877), rgba(7, 105, 161, 0.945));
}

footer .input-group .input-group-text .fas {
    font-size: 1.1em;
    padding: 0.2em 0.1em 0.2em 0.1em;
}

footer .column i {
    color: lightseagreen;
}

footer .column i+i {
    padding: 0 0.5em;
}

footer .column .extra {
    padding-top: 1.75rem;
}

footer .column .extra a {
    text-decoration: none;
    color: #00acfc;
}

footer .column .extra a:hover {
    color: lightseagreen;
}

/* Sticky class */

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.775);
    z-index: 9999;
    transition: all 1s ease-in;
}